@font-face {
  font-family: 'Tomorrow';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Tomorrow'),
    url('~/assets/fonts/Tomorrow Wind.ttf') format('truetype');
}

@font-face {
  font-family: 'DrukCyr';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('DrukCyr'),
    url('~/assets/fonts/DrukCyr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  src:
    local('Vollkorn Italic'),
    local('Vollkorn-Italic'),
    url('~/assets/fonts/Vollkornitalic.woff2') format('woff2'),
    url('~/assets/fonts/Vollkornitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Vollkorn';
  src:
    local('Vollkorn Regular'),
    local('Vollkorn-Regular'),
    url('~/assets/fonts/Vollkornregular.woff2') format('woff2'),
    url('~/assets/fonts/Vollkornregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vollkorn';
  src:
    local('Vollkorn Bold'),
    local('Vollkorn-Bold'),
    url('~/assets/fonts/Vollkornbold.woff2') format('woff2'),
    url('~/assets/fonts/Vollkornbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vollkorn';
  src:
    local('Vollkorn SemiBold'),
    local('Vollkorn-SemiBold'),
    url('~/assets/fonts/Vollkornsemibold.woff2') format('woff2'),
    url('~/assets/fonts/Vollkornsemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
