@font-face {
  font-family: 'Vollkorn';
  src:
    url('./fonts/Vollkorn-VariableFont_wght.ttf') format('truetype-variations'),
    url('./fonts/Vollkorn-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'VollkornItalic';
  src:
    url('./fonts/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype-variations'),
    url('./fonts/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Tomorrow';
  font-style:  normal;
  font-weight: 400;
  src:
    url('./fonts/Tomorrow Wind.ttf') format('truetype');
}

@font-face {
  font-family: 'DrukCyr';
  font-style:  normal;
  font-weight: 500;
  src:
    url('./fonts/DrukCyr-Medium.ttf') format('truetype');
}
